#body {
    margin: 100px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#shelter-disp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shelter-card {
    border-style: solid;
    padding: 10px;
}

.shelter-img {
    height: auto;
    width: 500px;
    border-style: solid;
}

#animal-disp {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.animal-card {
    border-style: solid;
    padding: 10px;
}

.animal-img {
    height: 250px;
    width: 250px;
}